*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bgColor: #08362b;
    --white: #FFFFFF;
    --black: #333;
    --headerBg:  #aae06956;
    --hoverColor: #c3d492;
    --numberColor: #346473;
}


nav{
    background: var(--bgColor);
    width: 100%;
    top: 0;
    z-index: 2;
    position: fixed;
}
nav .nav-container{
    background: var(--bgColor); 
    height: 90px;
    max-width: 1280px;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*  nav menu start  */
nav .nav-container #menu{
    list-style-type: none;
    display: flex; 
}
nav .nav-container #menu > li > a:hover{
    cursor: pointer;
    color: var(--hoverColor);
    border-radius: 5px;
}
nav .nav-container #menu .menu-main{
    padding: 15px;
}
nav .nav-container #menu .menu-main, .logo {
    text-decoration: none;
    color: var(--white);
}
nav .nav-container .logo-name .logo:hover{
    color: var(--hoverColor);
}
/*  nav menu end  */

.date-content{
    color: var(--white);
}

/*  burger menu start  */
nav .nav-container .burger-menu{
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}
nav .nav-container .burger-menu > span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 2px;
    margin-top: -1px;
    margin-left: -20px;
    background-color: var(--white);
}
nav .nav-container .burger-menu > span::after, nav .nav-container .burger-menu > span::before{
    background: var(--white);
    content: "";
    display: block;
    position: absolute;
    margin-top: -1px;
    transition: .5s;
    width: 50px;
    height: 2px;
    transform: translateY(-10px);
    top: 50%;
}
nav .nav-container .burger-menu > span::after{
    transform: translateY(10px);
}
/*  burger menu end  */
@media screen and (max-width:768px){
    nav .nav-container #menu{
        order: 1;
    }
    nav .nav-container .logo-name{
        order: 2;
    }
    nav .nav-container .date-content{
        order: 3;
        font-size: 17px;
    }

    nav .nav-container .burger-menu{
        display: block;
    }
    nav .nav-container #menu{
        flex-flow: column;
        position: absolute;
        left: 0;
        width: 100%;
        top: 90px;
        background: var(--bgColor);
        display: block;
        transition: 0.5s;
        transform: translate(-5000px);
    }
    nav .nav-container #menu.active-nav{
        transition: 0.5s;
        transform: translate(0px);
    }
    nav .nav-container #menu.active-nav > li {
        position: relative;
        text-align: center;
        margin: 10px;
    }
    nav .nav-container .burger-menu.active-nav > span::before{
        background: var(--hoverColor);
        transform: rotate(-45deg);
    }
    nav .nav-container .burger-menu.active-nav span {
        background-color: transparent;
    }
    nav .nav-container .burger-menu.active-nav > span::after {
        transform: rotate(45deg);
        background: var(--hoverColor);
    }
}


header{
    width: 100%;
}
header .header-container{
    height: 600px;
    color: var(--white);
    background: url("../images/3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 15px;
}
header .header-container .header-main{
    width: 700px;
    height: 400px;
    background: var(--headerBg);
    text-align: center;
    z-index: 1;
}
header .header-container .header-main p{
    padding-top: 90px;
    font-size: 22px;
}
header .header-container .header-main h1{
    padding-bottom: 30px;
    font-size: 60px;
}
header .header-container .header-main .header-btn{
    border-radius: 3px;
    background: #81c132;
    border: 2px solid #81c132;
    width: 170px;
    height: 40px;
    cursor: pointer;
    color: var(--white);
    padding:  10px 30px;
    font-size:  16px;
    margin-top: 30px;
}
header .header-container #canvas{
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    height: 600px;
}


main{
    width: 100%;
    background: var(--white);
    color: var(--black);
}
main .main-container{
    padding: 10px;
}
main .main-container .about {
    margin: 30px 40px 20px 40px;
    min-height: 400px;
    overflow: hidden;
    max-width: 1300px;
}

main .main-container .about .img{
    width: 45%;
    height: 100%;
    box-shadow: 0 0 35px 0 rgb(26 26 26);
    background: url("../images/pic1.jpeg");
    float: left;
    background-size: cover;
    margin-right: 20px;
}
main .main-container .about #img2{
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
main .main-container .about .main-h1{
    margin: 50px 30px 30px 0;
    font-size: 35px;
}
main .main-container .about .main-p{
    font-size: 25px;
    margin-top: 30px;
    font-style: italic;
}
main .main-container .about .main-h1, .main-p, hr{
    margin-left: 30px;
}
main .main-container .about hr{
    width: 20%;
    border: 2px solid var(--bgColor);
}
main .main-container .btn-up {
    position: fixed;
    color: var(--white);
    right: 10px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background: var(--bgColor);
    display: none;
    font-size: 30px;
    z-index: 3;
    border: 1px solid transparent;
    transition: all .2s;
}
main .main-container .btn-up.showBtn{
    display: block;
}
.title{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0;
}
@media screen and (max-width:768px){
    main .main-container{
        padding: 0 0 10px 0;
    }
    main .title{
        font-size: 35px;
        padding: 15px;
    }
    main .main-container .about{
        min-height: 450px;
        margin: 10px 30px;
    }
    main .main-container .about .img{
        width: 100%;
        height: 50%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    main .main-container .about .main-h1{
        font-size: 30px;
        margin: 10px;
    }
    main .main-container .about .main-p{
        font-size: 20px;
        margin: 15px;
    }
    main .main-container .about hr{
        margin: 0 auto;
        border: 1px solid var(--bgColor);
        width: 40%;
    }
    main .main-container .about .main-h1, .main-p, hr{
        text-align: center;
    }
}
main .main-container .main-about {
    background: url("../images/bg-main.jpeg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
main .main-container .main-about .about-about{
    background-color: #f0f2f5;
    padding: 10px 40px;
    margin: 30px;
}
main .main-container .main-about .about-about h2{
    color: var(--numberColor);
    font-size: 60px;
}
main .main-container .main-about .about-about h3{
    font-size: 23px;
    margin: -60px 0 0 50px;
}
main .main-container .main-about .about-about p{
    margin-top: 20px;
    font-style: italic;
    font-size: 18px;
}
#info{
    text-align: center;
    font-size: 60px;
    margin: 30px 0;
}

@media screen and (max-width: 1024px){
    main .main-container .main-about {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 630px){
    main .main-container .main-about {
        grid-template-columns: repeat(1,1fr);
    }
}


footer{
    width: 100%;
    color: var(--white);
}
footer .footer-container{
    min-height: 300px;
    text-align: center;
    background: var(--bgColor);
    display: flex;
    justify-content: space-around;
}
footer .footer-container .footer-item h1{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}
footer .footer-container .footer-item p{
    font-size: 19px;
}
footer .create-container{
    background-color: var(--bgColor);
    font-size: 19px;
    text-align: center;
}
.social svg{
    fill: var(--white);
}

@media screen and (max-width:768px){
    footer .footer-container{
        flex-direction: column;
    }
}